.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .item-collection-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-bottom: 30px;
  
      & .collection-item {
        margin-bottom: 30px;
      }
      //這個30px不知道要怎麼加進去
    }
  }
  